{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
      "@typescript-eslint"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["typescript-homy-api/**/*.ts"],
  "rules": {
      "quotes": ["error", "single"],
      "indent": ["error", 2]
  }
}
