{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
      "@typescript-eslint"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "ignorePatterns": [
    "typescript-homy-api/**/*.ts",
    "typescript-flatrent-sdk/**/*.*"
  ],
  "rules": {
      "quotes": ["error", "single"],
      "indent": ["error", 2]
  }
}
